<div class="modal fade" id="modal_addProduct" aria-labelledby="modal-title">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="!manageListData.isProductKategorieChoosed" class="modal-title">Choose a Categorie!</h5>
        <h5 *ngIf="manageListData.isProductKategorieChoosed" class="modal-title">Which products should be added?</h5>
        <button
          (click)="manageListData.isProductKategorieChoosed=false; manageListData.receivedProductsOfCategory.length=0;manageListData.receivedProductsIDOfCategory.length=0"
          type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="!manageListData.isProductKategorieChoosed">
        <div class="modal-body" style="justify-content: center">
          <mat-grid-list id="gridList" cols="2" rowHeight="100px">
            <mat-grid-tile (click)="choosedCategorie(options)" [id]="options" class="options rounded"
                           *ngFor="let options of manageListData.productCategories">{{options}}</mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
      <div *ngIf="manageListData.isProductKategorieChoosed">
        <div class="modal-body">
          <div id="selectDiv">
            <mat-form-field>
              <mat-label>Products</mat-label>
              <mat-select [formControl]="manageListData.myControl" [(value)]="manageListData.selectedProducts" multiple>
                <mat-option style="color: black" *ngFor="let option of manageListData.receivedProductsOfCategory" [value]="option">
                  {{option.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="!manageListData.isProductKategorieChoosed" (click)="list.transmitProductCategorieByAddingProduct()" type="button"
                class="btn btn-primary">Search!
        </button>
        <button *ngIf="manageListData.isProductKategorieChoosed" (click)="list.addProductsToList()" type="button" data-bs-dismiss="modal"
                class="btn btn-primary">Add!
        </button>
      </div>
    </div>
  </div>
</div>
