<head>
  <title>SignUp | Sholi</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <ul class="nav nav-pills mb-3" role="tablist">
          <li class="nav-item text-center"><a class="nav-link btl" routerLink="/login" role="tab" aria-controls="pills-home" aria-selected="false">Login</a></li>
          <li class="nav-item text-center"><a class="nav-link active btr" routerLink="/registration" role="tab" aria-controls="pills-profile" aria-selected="true">Signup</a></li>
        </ul>
        <div class="card-body p-4 p-sm-5 ">
          <img id="logo_register" src="assets/Pictures/logo.svg" class="rounded mx-auto d-block">
          <h5 class="card-title text-center mb-5 fw-light fs-5">Register to Sholi!</h5>
          <form #signinForm="ngForm" (ngSubmit)="goForRegister(signinForm)">
            <div class="form-floating mb-3">
              <input *ngIf="manageUserData.isUsernameValid" autocomplete="off" type="text" class="form-control" name="register_username" id="register_username" placeholder="username" ngModel required>
              <input *ngIf="!manageUserData.isUsernameValid" autocomplete="off" type="text" class="form-control is-invalid" name="register_username1" id="register_username1" placeholder="username" ngModel required>
              <label for="register_username1">Username*</label>
            </div>
            <div class="form-floating mb-3">
              <input *ngIf="manageUserData.isFirstnameValid" autocomplete="off" type="text" class="form-control" name="register_firstname" id="register_firstname" placeholder="firstname" ngModel required>
              <input *ngIf="!manageUserData.isFirstnameValid" autocomplete="off" type="text" class="form-control is-invalid" name="register_firstname1" id="register_firstname1" placeholder="firstname" ngModel required>
              <label for="register_firstname1">Firstname*</label>
            </div>
            <div class="form-floating mb-3">
              <input *ngIf="manageUserData.isLastnameValid" autocomplete="off" type="text" class="form-control" name="register_lastname" id="register_lastname" placeholder="lastname" ngModel required>
              <input *ngIf="!manageUserData.isLastnameValid" autocomplete="off" type="text" class="form-control is-invalid" name="register_lastname1" id="register_lastname1" placeholder="lastname" ngModel required>
              <label for="register_lastname1">Lastname*</label>
            </div>
            <div class="form-floating mb-3">
              <input *ngIf="manageUserData.isEmailValid" autocomplete="off" type="email" class="form-control" name="register_email" id="register_email" placeholder="example@example.de" ngModel required>
              <input *ngIf="!manageUserData.isEmailValid" autocomplete="off" type="email" class="form-control is-invalid" name="register_email1" id="register_email1" placeholder="example@example.de" ngModel required>
              <label for="register_email1">E-Mail*</label>
            </div>
            <div class="form-floating mb-3">
              <input *ngIf="manageUserData.isPasswordValid" autocomplete="off" type="password" class="form-control" name="register_password" id="register_password" placeholder="Password" ngModel required>
              <input *ngIf="!manageUserData.isPasswordValid" autocomplete="off" type="password" class="form-control is-invalid" name="register_password1" id="register_password1" placeholder="Password" ngModel required>
              <label for="register_password1">Password*</label>
            </div>
            <div class="form-floating mb-3">
              <input *ngIf="manageUserData.isPasswordValidValid" autocomplete="off" type="password" class="form-control" name="verify_password" id="verify_password" placeholder="Password" ngModel required>
              <input *ngIf="!manageUserData.isPasswordValidValid" autocomplete="off" type="password" class="form-control is-invalid" name="verify_password1" id="verify_password1" placeholder="Password" ngModel required>
              <label for="verify_password1">Verify Password</label>
            </div>
            <div class="d-grid">
              <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

