<div class="modal fade" id="modal_createListByPopUp" tabindex="-1" aria-hidden="true">
  <form id="formForCreateList" #listInfoForm="ngForm"
        (ngSubmit)="home.createList(listInfoForm.value.newList_name); home.clearCreatingForm(listInfoForm)">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create new list?</h5>
          <button (click)="home.clearCreatingForm(listInfoForm)" type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-floating">
            <input autocomplete="off" class="form-control" type="text" name="newList_name" id="newListName"
                   placeholder="name" ngModel
                   required>
            <label class="form-check-label" for="newListName">Name for the new list</label>
          </div>
          <br>
          <div class="form-check form-switch" id="toggleButton">
            <input (click)="home.goForSharingTheCreatedList()" class="form-check-input" type="checkbox" name="isShared"
                   id="isShared" ngModel required>
            <label for="isShared">Want to share the list?</label>
          </div>
          <br>
          <div *ngIf="manageHomeData.isListShared" id="selectDiv">
            <mat-form-field>
              <mat-label>Usernames</mat-label>
              <mat-select [formControl]="manageHomeData.myControl" [(value)]="manageHomeData.selectedNames" multiple>
                <mat-option style="color: black" *ngFor="let option of manageHomeData.options"
                            [value]="option">{{option}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <br>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                  aria-label="Close">Create
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
