<div class="card">
  <div class="card-header" id="headingOne">
    <h5 class="mb-0">
      <button style="color: black" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        <i class="bi bi-question-circle-fill"></i> Was macht diese Anwendung?
      </button>
    </h5>
  </div>
  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="card-body">
      Mit Sholi kannst du deine Einkäufe ganz einfach Organisieren.
      Es gibt die Möglichkeit Einkaufslisten zu erstellen und diese mit deiner Familie oder Mitbewohnern zu teilen.
      So haben alle beteiligten einen Überblick über den Einkauf!
      Zudem kannst du Sholi auch über deine Alexa verwalten.
    </div>
  </div>
</div>
