#add_product_from_DB, #add_product {
  font-size: 25px;
  color: white;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
}

#add_product_from_DB:hover, #add_product:hover {
  cursor: pointer;
}

#mainDiv {
  margin-top: 100px;
}

.gridList{

}

.options{
  cursor: pointer;
  background: #6c757d;
  color: white;
  transition: background-color 0.2s;
}
