<app-back-button></app-back-button>
<div id="mainDiv" class="container">
  <div class="mx-auto">
    <div>
      <button id="add_product_from_DB" type="button" class="btn btn-dark" data-bs-toggle="modal"
        data-bs-target="#modal_addProduct"><i class="bi bi-card-checklist">Add Product</i>
      </button>
      <button id="add_product" type="button" class="btn btn-dark float-right" data-bs-toggle="modal"
        data-bs-target="#modal_createProduct"><i id="plus_addProduct" class="bi bi-plus">New Product</i>
      </button>
    </div>

    <div class="card border-0 shadow rounded-3 my-5" style="min-height: 631px;">
      <u>
        <h1 class="text-center" style="font-family:'Square Peg, cursive'">List: {{manageListData.listname}}</h1>
      </u>
      <div id="productList" class="overflow-auto" style="height:631px;">
        <mat-grid-list cols="4" rowHeight="50px" *ngFor="let options of manageListData.receivedProductsOfList">
          <mat-grid-tile>
            <i style="padding-bottom: 8px; padding-right: 8px" class="bi bi-dash"></i>
            <mat-form-field floatLabel="always">
              <input matInput [value]="options.name" readonly>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field floatLabel="always">
              <input matInput [value]="options.edited_price" readonly>
              <span matPrefix>€</span>
            </mat-form-field>
            <i data-target="#modal_changePrice" data-toggle="modal" class="bi bi-pencil-fill"
              style="margin-left: 20px;cursor: pointer;"
              (click)="editPriceField(options.edited_price,options.pr_id)"></i>
          </mat-grid-tile>
          <mat-grid-tile>
            <input *ngIf="options.ticked==1" (click)="options.ticked=0; toggleTicked(options.pr_id,options.ticked);"
              class="form-check-input" type="checkbox" id="checkboxNoLabel" checked>
            <input *ngIf="options.ticked==0" (click)="options.ticked=1; toggleTicked(options.pr_id,options.ticked)"
              class="form-check-input" type="checkbox" id="checkboxNoLabel1">
          </mat-grid-tile>

          <mat-grid-tile>
            <i class="bi bi-trash-fill" style="cursor: pointer" data-toggle="modal"
              data-target="#modal_deleteProductOfList" (click)="manageListData.temporaryProductToDelete=options.pr_id"></i>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>
</div>

<app-modal-delete-product-of-list></app-modal-delete-product-of-list>

<app-modal-create-product></app-modal-create-product>

<app-modal-add-product-to-list></app-modal-add-product-to-list>

<app-modal-change-price-of-product></app-modal-change-price-of-product>

