#add_product_from_DB, #add_product {
  font-size: 25px;
  color: white;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
}

#add_product_from_DB:hover, #add_product:hover {
  cursor: pointer;
}

/deep/ .cdk-overlay-container {
  z-index: 9999;
}
