<form #signinForm="ngForm" (ngSubmit)="updateUser(signinForm)">
  <div class="form-floating mb-3">
    <input autocomplete="off" type="name" class="form-control" name="login_username" id="login_username" placeholder="name" ngModel required>
    <label for="login_username">Username</label>
  </div>
  <div class="form-floating mb-3">
    <input autocomplete="off" type="password" class="form-control" name="login_password" id="login_password" placeholder="Password" ngModel required>
    <label for="login_password">Password</label>
  </div>
  <div class="d-grid">
    <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign
      in
    </button>
  </div>
</form>
