<div class="card">
  <div class="card-header" id="headingThree">
    <h5 class="mb-0">
      <button style="color: black" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree">
        <i class="bi bi-question-circle-fill"></i> Wie kann ich eine Liste mit anderen Anwendern teilen?
      </button>
    </h5>
  </div>
  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
    <div class="card-body">
      Deine Einkaufliste kannst du teilen in dem du beim erstellen andere Teilnehmer auswählst. Dafür brauchst du nur
      deren Benutzernamen.
      Du willst im nachhinein Benutzer hinzufügen?
      Kein Problem! In den Einstellungen kannst du jederzeit Benutzer hinzufügen oder entfernen.
    </div>
  </div>
</div>
