<div class="modal fade" id="modal_deleteProductOfList">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Produkt aus Liste löschen?</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Wenn dieses Produkt gelöscht wird, ist es nichtmehr da!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="list.deleteProductFromList()" type="button" class="btn btn-primary" data-dismiss="modal">Go!
        </button>
      </div>
    </div>
  </div>
</div>
