<div class="card">
  <div class="card-header">
    <h5 class="mb-0">
      <button style="color: black" class="btn btn-link collapsed" data-toggle="collapse" data-target="#question2" aria-controls="question2">
        <i class="bi bi-question-circle-fill"></i> Wie kann ich eine Liste erstellen?
      </button>
    </h5>
  </div>
  <div id="question2" class="collapse" data-parent="#accordion">
    <div class="card-body">
      Klicke einfach auf den Button "Liste erstellen?". Du kannst dabei entscheiden ob andere die Liste sehen können
      oder ob du sie Privat nutzen willst.
    </div>
  </div>
</div>
