<div class="card">
  <div class="card-header" id="headingTwo">
    <h5 class="mb-0">
      <button style="color: black" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
        <i class="bi bi-question-circle-fill"></i> Wie kann ich eine Liste erstellen?
      </button>
    </h5>
  </div>
  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
    <div class="card-body">
      klicke einfach auf den Button "Liste erstellen?". Du kannst dabei entscheiden ob andere die Liste sehen können
      oder ob du sie Privat nutzen willst.
    </div>
  </div>
</div>
