<head>
  <title>Home | Sholi</title>
</head>
<div>
  <nav class="navbar">
    <div class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i id="nav_user" class="bi bi-person-circle"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="nav_user">
        <a routerLink="profile" class="dropdown-item">
          <i id="nav_usersettings" class="bi bi-person-square"> Profile</i>
        </a>
        <div class="dropdown-divider"></div>
        <a routerLink="faq" class="dropdown-item">
          <i id="nav_questions" class="bi bi-question-circle-fill"> Help</i>
        </a>
        <div class="dropdown-divider"></div>
        <a routerLink="logout" class="dropdown-item">
          <i id="nav_logout" class="bi bi-door-open-fill"> Sign-Out</i>
        </a>
      </div>
    </div>
  </nav>
</div>

<div class="container">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div>
      <button id="button_createNewList" type="button" class="btn btn-dark" data-bs-toggle="modal"
              data-bs-target="#modal_createListByPopUp"><i
        id="plus_createNewList" class="bi bi-plus">New List</i>
      </button>
    </div>
    <div id="listDiv" class="overflow-auto card border-0 shadow rounded-3 my-5" style="height: 631px">
      <div
        style="cursor: pointer"
        class="rounded-3 list-group-item" *ngFor="let list of manageHomeData.lists">
        <div class="row" style="font-family: Square Peg, cursive;font-size: 30px;">
          <div (click)="clicker(list.name, list.list_id)" class="col-sm">{{list.name}}</div>
          <div class="col-md-auto d-flex justify-content-end align-items-center ">
            <i (click)="getPermissionToDelete(list.list_id)"
               class="bi bi-trash-fill"
               style="cursor: pointer; font-size: 20px; display: contents;" data-toggle="modal"
               data-target="#modal_deleteList"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-delete-list></app-modal-delete-list>
<app-modal-create-list-by-modal-window></app-modal-create-list-by-modal-window>
