#nav_user {
  font-size: 45px;
  color: black;
  padding-left: 30px;
}

#nav_questions, #nav_settings, #nav_usersettings, #nav_logout {
  font-size: 20px;
  color: black;
  cursor: pointer;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
}

#nav_questions:hover, #nav_settings:hover, #nav_usersettings:hover, #nav_logout:hover {
  cursor: pointer;
}

#nav_user:hover {
  cursor: pointer;
  color: white;
}

nav {
  margin-right: 100px;
  justify-content: right;
}

#plus_createNewList {
  font-size: 25px;
  color: white;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
}

#plus_createNewList:hover {
  cursor: pointer;
}

#toggleButton {
  margin-left: 25px;
}

a {
  text-decoration: none !important;
}

.dropdown-item:hover {
  background-color: lightgray;
}

/deep/ .cdk-overlay-container {
  z-index: 9999;
}
